<a href="https://colab.research.google.com/github/vivek09thakur/GSI/blob/main/02%20Data%20Handling/DataHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Handling

Lets start with data handling ,  Data handling is the process of ensuring that research data is stored, archived or disposed off in a safe and secure manner during and after the conclusion of a research project.

* Introduction

*   Data Types in depth

    - Numbers
    - Strings
    - List and Tuples
    - Dictionary

*   Mutable and Immutable Types
    - Variables Literals
*   Operators
    - Arithmetic Operators
    - Relational Operators
    - Logical Operators
    - Operators Precedence
*   Expression
    - Evaluating Expression
    - Type casting
*   Working With Math Module
*   Debugging

# 1. Data Types
Data types can be of many types e.g , *characters , integer , real , string etc.* Anything enclosed in quotes represents string data in python. Number without fractions represents integer data. Number with fractions represents real data and *True* and *False* represents Boolean data

Python offers following built-in core data types :

- Numbers
- String
- List
- Tuple
- Dictionary

### 1.) Number
Number data types is used to store numeric values in Python. The Numbers in Python have following core data types :

*   Integers : -> Integer ( signed ) -> Boolean
*   Floating-point Number
*   Complex Numbers



1.   **Integers**

Integers are the whole numbers such as 5,39,1917,0 etc. They have no fractional part. Integers can be either positive or negative with no decimal values.

*   *Integers ( signed ) :*
It is the the normal integers representation of whole numbers
> Integers in python 3 can be of any length , It is only limited by the memory available.
*   *Booleans :* These represents the truth values of `True` and `False`. These are the sub types of plain integers , and Boolean values `True` and `False` Behave like `1` and `0`.

In [ ]:
bool(1) # This will give the truth value of True

True

In [ ]:
bool(0) # This will give the truth value of False

False

### 2.) Floating Point Numbers
A number having fractional part is a floating-point numbers. For example,3.14159 is a floating point number. The decimal point signals that is a floating point number not an integer.

In [ ]:
print(type(12))

<class 'int'>

In [ ]:
print(type(12.0))

<class 'float'>



1.   **Fractional Form** e.g. , 3.14, 0.000005
2.   **Exponent Form** e.g. , 3.50075E03 , 0.5E-04

In [ ]:
print(type(3.50075E03))

<class 'float'>

### 3.) Strings
A string data type lets you hold the string data , i.e., any number of a valid character into set of quotation marks.

> Or in Python3 all strings are the sequences of *pure Unicode characters*.

In [ ]:
# string as a sequence of character
name = 'vivek'
print(name)
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4un])

vivek
v
i
v
e
k

> Hence from above example , we can conclude  that a python string is nothing more than the sequence of multiple characters and each characters using their **Index** value.

In [ ]:
# say subject is s string
subject = 'COMPUTER'
print(subject[0])

C

In [ ]:
print(subject[3])

P

> Thus we can access any character using `<string-name>[index_num]`

**len(< string >)** : Length of any string is equals to the sum of all characters present in  it. We use `len()` to determine the length of a string. Like

In [ ]:
len(subject)

8

In [ ]:
len(name)

5

> ❗ Individual letters (**item assignment**)  of a string in a place by assignments because **strings are immutable and** hence **items assignments is not supported**, i.e,

In [ ]:
name = 'hello'
name[0]='s'

TypeError: ignored

> > But we can assign string to another string

In [ ]:
name = 'hello'
name ='new'
print(name)

new

### 4.) List and Tuples

They are known as compound data type , the only difference between them is that the list can be modified and changed but on the other hand tuples cannot be changed ( *immutable* ).

- ####  List

List in python3 represents a list of comma-separated values of any *datatype* between square brackets. e.g., following example of list are :

In [ ]:
list_1 = [1,2,3,4,5] # list of integer
list_2 = [1.2,2.3,3.4,5.6] # list of floating point number
list_3 = ['a','b','c','d'] # list of strings

print(type(list_1))

<class 'list'>

In [ ]:
# accessing a single element of a list
print(list_1[0])

1

In [ ]:
# modifying a single element of a list
list_1[0]=99
print(list_1)

[99, 2, 3, 4, 5]

- #### Tuple
Tuples are similary to list but the only difference is that they are immutable data types and it starts with small brackets `(` and ends with `)` also. Here are the example of tuples :

In [ ]:
tupA = (1,2,3,4,5)
tupB = (1.2,2.3,3.4,4.5,5.6)
tupC = ('vivek','sriju','rahul','sairaj')

In [ ]:
# Acessing a single element of tuple
print(tupA[1])

2

In [ ]:
print(tupC[1])

sriju

### 5.) Dictionary
Dictionary data type is an unique data type in python , It is a comma seperated `key:value` pairs within `{}`, with the requirement that within a dictionary **No pairs can be same**  *(i.e., they must be unique)*.

Example :

In [2]:
example_dick = {
    'a':2,
    'b':3,
    'c':4,
    'd':5,
    'e':6
}
print(type(example_dick))

<class 'dict'>

**Accessing value of a single element of a dictionary**

> In dictionary we don't have any index value but we can access through its `key`.

In [5]:
# like this
print(example_dick['a'])

# lets print its type
print(type(example_dick['b']))

# assigns a value to variable
var_a = example_dick['e']
print(var_a)

2
<class 'int'>
6

# Mutable and Immuatble types